.itemLevel-1 {
    padding-left: 50px;
}

@for $i from 2 through 30 {
    .itemLevel-#{$i} {
        margin-left: (($i - 1) * 30px) !important;
    }
}

.noElips {
    text-overflow: initial;
    white-space: normal;
}

.checkbox-child-selected::after {
    opacity: 1 !important;
    background-color: #387ef5 !important;
    background-image: none !important;
    border-color: #387ef5 !important;
    border-radius: 16px !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
    font-size: 16px !important;
    position: absolute !important;
    width: 16px !important;
    height: 16px !important;
    top: 14px !important;
    left: 14px !important;
}