<div class="list" ng-model="$ctrl.treeViewItems" ng-if="$ctrl.treeViewItems && $ctrl.treeViewItems.length > 0">
    <span ng-repeat="item in $ctrl.treeViewItems" ng-include="'items_renderer'"></span>
</div>

<script type="text/ng-template" id="items_renderer">
    <ion-item class="item item-checkbox {{'itemLevel-' + item.itemLevel}}" style="border: none; padding-bottom: 2px; padding-top: 10px"
              ng-include="'item_renderer'">
    </ion-item>
    <ion-list ng-model="item.items"
              ng-repeat="item in item.items"
              ng-hide="item.collapsed"
              ng-include="'items_renderer'">
    </ion-list>
</script>
<script type="text/ng-template" id="item_renderer">
    <div ng-click="$ctrl.collapseItem(item)">
        <div class="row">
            <span ng-if="item.items.length > 0" class="symbol" style="width: 20px !important;">
                <i class="icon" ng-class="item.items.collapsed  ? 'ion-arrow-right-b' : 'ion-arrow-down-b'"></i>
            </span>
            <label class="col-10 checkbox" style="width: 42px;">
                <input id="check-bh-{{item.id}}" ng-class="{'checkbox-child-selected' : $ctrl.checkCheckedChilds(item) }" type="checkbox" ng-model="item.checked" ng-change="$ctrl.checkChanged(item)" />
            </label>
            <span class="col-90 noElips">{{item.text}}</span>
        </div>
    </div>
</script>